In [14]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [15]:
###load the trained model,sacler pickel file,one hot 

model=load_model('model.h5')

##load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb')as file:
    label_encoder_geo=pickle.load(file)

with open ('label_encoder_gender.pkl','rb')as file:
    label_encoder_gender=pickle.load(file)

with open ('scaler.pkl','rb')as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [16]:
##example input data
input_data={
    'creditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':6000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000

}

In [18]:
import pickle

# Load the one-hot encoder for Geography
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)

In [20]:
# One-hot encode Geography
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(
    geo_encoded,
    columns=label_encoder_geo.get_feature_names_out(['Geography'])
)
geo_encoded_df

c:\Users\shivk\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [22]:
input_df=pd.DataFrame([input_data])
input_df

,creditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,6000,2,1,1,50000

In [23]:
##Encode categorial variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,creditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,6000,2,1,1,50000

In [ ]:
##concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis =1)
input_df

In [28]:
# Make sure input_df has all columns scaler was trained on
input_df = input_df.reindex(columns=scaler.feature_names_in_, fill_value=0)

# Now safely scale
input_scaled = scaler.transform(input_df)

In [29]:
##scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-6.76262379,  0.91324755,  0.10479359, -0.69539349, -1.12240462,
         0.80843615,  0.64920267,  0.97481699, -0.87683221, -0.99850112,
        -0.57946723, -0.57638802]])

In [30]:
##predict churn 
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 326ms/step

array([[0.03272051]], dtype=float32)

In [31]:
prediction_proba=prediction[0][0]

In [32]:
prediction_proba

np.float32(0.03272051)

In [33]:
if prediction_proba >0.5:
    print('The customer is likely to churn')

else:
    print("the customer is not likely to churn")

the customer is not likely to churn